@import "common/variables";

/** Import everything from autoload */
@import "./autoload/**/*";

/** IMport other packages */
@import "~lightbox2/src/css/lightbox.css";

/** import Responsive resise fonts */
@import "common/rfs";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";
$hamburger-padding-x           : 12px;
$hamburger-padding-y           : 12px;
$hamburger-layer-width         : 30px;
$hamburger-layer-height        : 4px;
$hamburger-layer-spacing       : 6px;
$hamburger-layer-color         : #404853;
$hamburger-layer-border-radius : 4px;
$hamburger-hover-opacity       : 0.7;

@import "~hamburgers/_sass/hamburgers/hamburgers.scss";
@import "~hamburgers/_sass/hamburgers/_base.scss";

/** Import theme styles */
@import "common/reset";
@import "common/global";
@import "common/align";
@import "common/accessibility";
@import "common/blocks";
@import "components/buttons";
@import "components/comments";
// @import "components/counters";
@import "components/forms";
@import "components/lists";
@import "components/quotes";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";
//blocks
@import "blocks/projects";
@import "blocks/quotes";
@import "blocks/products";
@import "blocks/header";
@import "blocks/image-text-card";
