.wp-block-indrukwekkend-image-text-card {
  .card {
    border-radius: 10px;

    img {
      border-radius: 10px 10px 0 0;
    }
  }

  .card__button {
    padding-bottom: 10px;
    padding-right: 20px;
  }
}

.wp-block-media-text {
  .wp-block-media-text__media {
    img {
      border-radius: 10px;
    }
  }
}

.wp-block-table {
  table {
    font-size: 17px;

    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
}
